.headMenu{
    height: 60px;
}

.MenuButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.MenuButton{
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
    background-color: #81D4FA;
    border-radius: 5px;
    padding:  12px 10px 12px 10px;
    margin-top: 5px;
    margin-left: 5px;
}
@media (max-width: 400px) {
    .headMenu{
        display: none;
    }
}